@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

:root {
  /* colors */
  --color-black: #000000;
  --color-white: #ffffff;
  --color-gray: #E0E0E0;
  --color-gray-black: #B1B1B1;
  --color-blue: #1976D2;
  --color-red: #D53737;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 120px;
}